.recover-page {
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.recover-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1120px;
  width: 100%;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 768px) {
  .recover-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.image-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}